
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Đang tải...</p>
</ngx-spinner>
<section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">

<div class="estimated-cost">
            <form (ngSubmit)="quote()" class="form-wrap">
              <nav>
                <div class="nav nav-tabs justify-content-md-start justify-content-center" id="nav-tab" role="tablist">
                 
                  <a class="nav-item nav-link active show" id="nav-getEstimation-tab" data-toggle="tab" href="#nav-getEstimation"
          role="tab" aria-controls="nav-getEstimation" aria-selected="true"
           style="border-top-left-radius:8px;border-top-right-radius:8px;">Báo Giá</a>
                  
           <a class="nav-item nav-link  text-white" id="nav-trackShipment-tab" 
           data-toggle="tab" href="#nav-trackShipment" role="tab" aria-controls="nav-trackShipment"
            aria-selected="false" style="border-top-left-radius:8px;border-top-right-radius:8px;">Ước tính giá về tay</a>
                    <a class="nav-item nav-link   text-white" id="nav-track-tab" 
                    data-toggle="tab" href="#nav-track" role="tab" aria-controls="nav-track"
                     aria-selected="false" style="border-top-left-radius:8px;border-top-right-radius:8px;">Theo dõi đơn hàng</a>

                </div>
              </nav>


              <!-- Tab Content -->
              <div class="tab-content p-4 bg-white" id="nav-tabContent">
                <div class="tab-pane fade active show" id="nav-getEstimation" role="tabpanel" aria-labelledby="nav-getEstimation-tab">
                                    <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="firstName">Tên</label>
                      <input type="text" class="form-control" id="firstName" name="fname" required [(ngModel)]='data.fname' aria-describedby="emailHelp" placeholder="Nhập Tên"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập Tên'" />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="lastName">Họ</label>
                      <input type="text" class="form-control" id="lastName" name="lname" required [(ngModel)]='data.lname' placeholder="Nhập Họ" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Nhập Họ'" />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="emailAddress">Địa chỉ Email</label>
                <input type="email" class="form-control" id="emailAddress" name="email" required [(ngModel)]='data.email' placeholder="Nhập địa chỉ email"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập địa chỉ email'" />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="cargoType">Điện thoại liên lạc</label>
                      <input type="text" class="form-control" id="cargoType" name="phone" required [(ngModel)]='data.phone' placeholder="Nhập số điện thoại" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Nhập số điện thoại'" />
                    </div>
                  </div>


                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="destination">Link sản phẩm</label>
                      <input type="text" class="form-control" id="link" name="link" required [(ngModel)]='data.link' placeholder="Nhập Link sản phẩm"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập Link sản phẩm'" />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="destination">Màu sản phẩm</label>
                      <input type="text" class="form-control" id="color" name="color" required [(ngModel)]='data.color' placeholder="Nhập màu sản phẩm từ web"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập màu sản phẩm từ web'" />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="destination">ID sản phẩm</label>
                      <input type="text" class="form-control" id="pid" name="pid" required [(ngModel)]='data.pid' placeholder="Nhập ID sản phẩm"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập ID sản phẩm'" />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="destination">Số lượng</label>
                      <input type="text" class="form-control" id="quantity" name="quantity" required [(ngModel)]='data.quantity' placeholder="Nhập số lượng"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập số lượng'" />
                    </div>
                  </div>


                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="countryOfOrigin">Mua hàng từ nước</label>
                      <input type="text" class="form-control" id="countryOfOrigin" name="corigin" required [(ngModel)]='data.corigin' placeholder="Nhập đất nước mua hàng"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập đất nước mua hàng'"  />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="destination">Mua hàng về nước</label>
                      <input type="text" class="form-control" id="destination" name="destination" required [(ngModel)]='data.destination' placeholder="Nhập đất nước chuyển hàng về"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập đất nước chuyển hàng về'" />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="file">File</label>
                      <input type="file" class="form-control" id="file" name="file" accept="image/jpeg,.csv,.xls" required [(ngModel)]='data.file' placeholder="Tải file xls"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tải file xls'" />
                    </div>
                  </div>


                  <div class="col-lg-12 mt-4">
                    <div class="text-center confirm_btn_box">
                      <button class="main_btn text-uppercase">Yêu cầu Báo giá</button>
                    </div>
                  </div>
                </div>


                </div>


                <div class="tab-pane fade" id="nav-trackShipment" role="tabpanel" aria-labelledby="nav-trackShipment-tab">
<form (ngSubmit)="calculate()">
                       <div class="row">

                        <div class="col-lg-6">


                          <div id="form-step-1" role="form" data-toggle="validator">
                           <div class="form-group">
                               <label for="name">Email</label>
                <input type="text" class="form-control" name="name" id="email" placeholder="Write Email" required [(ngModel)]='data2.email'>
                               <div class="help-block with-errors"></div>
                           </div>
                       </div>
                       </div>
                    <div class="col-lg-6">


                        <div id="form-step-1" role="form" data-toggle="validator">
                         <div class="form-group">
                             <label for="name">GIÁ SẢN PHẨM</label>
              <input type="text" class="form-control" name="name" id="email" placeholder="Nhập giá sản phẩm" required [(ngModel)]='data2.iprice'>
                             <div class="help-block with-errors"></div>
                         </div>
                     </div>
                     </div>
                     <div class="col-lg-6">


                        <div id="form-step-1" role="form" data-toggle="validator">
                         <div class="form-group">
                             <label for="name">CÂN NẶNG SẢN PHẨM</label>
          <input type="text" class="form-control" name="name" id="email" placeholder="Nhập cân nặng sản phẩm theo Gram" required [(ngModel)]='data2.iweight'>
                             <div class="help-block with-errors"></div>
                         </div>
                     </div>
                     </div>



                      <div class="col-lg-6">
                      <div id="form-step-2" role="form" data-toggle="validator">
                        <div class="form-group">
                            <label for="name">GIẢM GIÁ</label>
          <input type="text" class="form-control" name="name" id="email" placeholder="Nhập số tiền giảm giá" required [(ngModel)]='data2.discount'>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    </div>



                      <div class="col-lg-6">


                       <div id="form-step-2" role="form" data-toggle="validator">
                        <div class="form-group">
                            <label for="name">SỐ LƯỢNG</label>
            <input type="text" class="form-control" name="name" id="email" placeholder="Nhập số lượng" required [(ngModel)]='data2.quantity'>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    </div>


                   </div>
                   <div class="text-center mt-3">
                            <button class="main_btn text-uppercase">Gửi</button>
                          </div>
                        </form>
                </div>



    <div class="tab-pane fade" id="nav-track" role="tabpanel" aria-labelledby="nav-track-tab">
 <form   id="myForm" role="form" data-toggle="validator"  accept-charset="utf-8">
              <div id="smartwizard">
            <ul>
                <li class="text-uppercase"><a href="#step-1">Nhập thông tin Order</a></li>
                <li class="text-uppercase"><a href="#step-2">Theo dõi thông tin</a></li>

            </ul>

            <div>
                <div id="step-1" class="mt-4">
                   <div class="row">
                      <div class="col-lg-6">


                          <div id="form-step-2" role="form" data-toggle="validator">
                           <div class="form-group">
                               <label for="name">Số tracking</label>
                               <input type="text" class="form-control" name="name" id="email"
                                placeholder="Nhập số tracking" required [(ngModel)]='data3.tno'>
                               <div class="help-block with-errors"></div>
                           </div>
                       </div>
                     
                       </div>
                     <div class="col-lg-6">
                        <div class="btn-tool sw-toolbar sw-toolbar-bottom justify-content-end">
                            <div class="btn-group mr-2 sw-btn-group" role="group">
                              <button class="btn btn-secondary main_btn sw-btn-prev disabled"
                               type="button">Trước</button>
                              <button class="btn btn-secondary main_btn sw-btn-next" (click)='order()'
                               >Tiếp</button>
                            </div><div class="btn-group mr-2 sw-btn-group-extra" role="group">
                            <button class="btn btn-info">Xong</button><button class="btn btn-danger">Cancel
                              
                            </button></div></div>

                       <!-- <div id="form-step-1" role="form" data-toggle="validator">
                        <div class="form-group">
                            <label for="name">Order Number</label>
                            <input type="text" class="form-control" name="name" id="email" placeholder="Write Order Number" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div> -->
                    </div>


                    
             


                   </div>
                </div>
                <div id="step-2" class="">
                      <div class="row">
                        <div class="col-md-6">
  <div class="map-responsive pt-2">
   <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>

  </div>
                        </div>
                        <div class="col-md-6" *ngIf='trackingcall'>
                          <h5 class="pt-3">Tracking Number: <span><small>1234567</small></span> </h5>
                          <h5>Current Status: <span><small class="text-success">{{orderStatus[0]?.status}}</small></span></h5>
                       <table class="table table-sm">
                         <tbody>
                           <tr>
                            <td><h5>Order Delivered</h5></td>
                            <td>15:00 pm <br>
                              08/09/2019
                            </td>
                          </tr>
                           <tr>
                            <td><h5>At abc port</h5></td>
                            <td>10:00 pm <br>
                              07/09/2019
                            </td>
                          </tr>
                         </tbody>
                       </table>
                        </div>
                      </div>


                    </div>



            </div>
        </div>
      </form>
                </div>






              </div>
            </form>
          </div>


      </div>
    </div>
  </section>
  <!--================ End Home Banner Area =================-->
 <!--================ Start Quote Area =================-->


<!--================ End Quote Area =================-->
  <!--================ Feature Area =================-->
  <section class="feature-area section_gap_top">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="single-feature">
                <img src="../../../assets/img/feature/f1.png" alt="">
                <h4>Shipment Tracking</h4>
                <p>
                  The French Revolutioncons tituted for the conscience of the dominant the French Revolutioncons.
                </p>
                <a href="#">Find your cargo</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="single-feature">
                <img src="../../../assets/img/feature/f2.png" alt="">
                <h4>Have a Question?</h4>
                <p>
                  The French Revolutioncons tituted for the conscience of the dominant the French Revolutioncons.
                </p>
                <a href="#">Contact Us</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="single-feature">
                <img src="../../../assets/img/feature/f3.png" alt="">
                <h4>Get a Quote</h4>
                <p>
                  The French Revolutioncons tituted for the conscience of the dominant the French Revolutioncons.
                </p>
                <a href="#">Start a quote</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="single-feature">
                <img src="../../../assets/img/feature/f4.png" alt="">
                <h4>Shipping Calculator</h4>
                <p>
                  The French Revolutioncons tituted for the conscience of the dominant the French Revolutioncons.
                </p>
                <a href="#">Get Estimate</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 offset-md-0 col-md-12 text-left section-title-wrap mt-4 mt-lg-0">
          <h5>About Our Company</h5>
          <h2>
            We’re Carefully <br>
            Delivering your <br>
            happiness.
          </h2>

          <h4>f you are looking at blank cassettes on the web lorem ipsum dolor sit consectetur adipisicing elit,
            eiusmod tempor incididunt.</h4>
          <p>
            If you are looking at blank cassettes on the web lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Eiusmod tempor
            incididunt ut labore et dolore magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="main_btn">Learn More About Us</a>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Feature Area =================-->

  <!--================ About Area =================-->
  <section class="about-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="row justify-content-center text-left section-title-wrap">
            <div class="col-lg-12">
              <h5>About Our Company</h5>
              <h2>
                Some statistics that we want <br>
                to show our viewers
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="../../../assets/img/about/brand1.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="../../../assets/img/about/brand2.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="../../../assets/img/about/brand3.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="../../../assets/img/about/brand4.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="../../../assets/img/about/brand5.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="../../../assets/img/about/brand6.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="offset-lg-1 col-lg-4">
          <div class="about_box">
            <div class="activity">
              <div class="row">
                <div class="col-lg-6 col-md-3 col-6">
                  <div class="activity_box">
                    <div>
                      <img src="../../../assets/img/about/i1.png" alt="">
                    </div>
                    <h3>$<span class="counter">2500</span>+</h3>
                    <p>Packages Delivered</p>
                  </div>
                </div>

                <div class="col-lg-6 col-md-3 col-6">
                  <div class="activity_box">
                    <div>
                      <img src="../../../assets/img/about/i2.png" alt="">
                    </div>
                    <h3>$<span class="counter">500</span>+</h3>
                    <p>Satisfied Clients</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-3 col-6">
                  <div class="activity_box">
                    <div>
                      <img src="../../../assets/img/about/i3.png" alt="">
                    </div>
                    <h3>$<span class="counter">70</span>+</h3>
                    <p>Contries reach</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-3 col-6">
                  <div class="activity_box">
                    <div>
                      <img src="../../../assets/img/about/i4.png" alt="">
                    </div>
                    <h3 class="counter">5000</h3>
                    <p>Tons of goods</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End About Area =================-->

  <!--================ Start Service Area =================-->
  <section class="service-area section_gap_top">
    <div class="container">
      <div class="row justify-content-center section-title-wrap">
        <div class="col-lg-12">
          <h5>Our Offered Services</h5>
          <h2 class="text-white">
            We offer Various Services <br />
            to get you covered
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="single-service col-lg-4 col-md-6">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="../../../assets/img/service/service1.jpg" alt="" />
          </div>
          <div class="service-box">
            <h3>
              Did not find <br />
              your Package
            </h3>
            <p>
              inappropriate behavior is often laughed off as boys will be boys
              women face in higher conduct standards.
            </p>
            <a href="#">Learn More</a>
          </div>
        </div>

        <div class="single-service col-lg-4 col-md-6">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="../../../assets/img/service/service2.jpg" alt="" />
          </div>
          <div class="service-box">
            <h3>
              Did not find <br />
              your Package
            </h3>
            <p>
              inappropriate behavior is often laughed off as boys will be boys
              women face in higher conduct standards.
            </p>
            <a href="#">Learn More</a>
          </div>
        </div>

        <div class="single-service col-lg-4 col-md-6">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="../../../assets/img/service/service3.jpg" alt="" />
          </div>
          <div class="service-box">
            <h3>
              Did not find <br />
              your Package
            </h3>
            <p>
              inappropriate behavior is often laughed off as boys will be boys
              women face in higher conduct standards.
            </p>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ end Service Area =================-->

  <!--================ Start Quote Area =================-->


  <!--================ Start Testimonial Area =================-->
  <section class="testimonial-area section_gap_top" style="padding: 296px 0px !important;">
    <div class="container">
      <div class="row justify-content-center section-title-wrap">
        <div class="col-lg-12">
          <h5>User Feedback</h5>
          <h2>
            What our customers feedback <br>
            for amazing service.
          </h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="owl-carousel active_testimonial">
            <!-- single testi -->
            <div class="single_testi">
              <div class="testi_content">
                <p>
                  “Us multiply given in all hath given may meat god won't abundantly appear lights fourth madman man
                  said god dominion great. Gathering called very. Midst shall after created from fruitful. Place sea
                  upon air. Female beast midst fly morning after light creepeth”
                </p>
              </div>
              <div class="testi_author d-flex justify-content-center align-items-center">
                <div class="thumb mr-4"><img src="../../../assets/img/testi-author.png" alt=""></div>
                <div class="a-desc text-left">
                  <h6>Marvel Maison</h6>
                  <p>Chief Executive, Amazon</p>
                </div>
              </div>
            </div>
            <!-- single testi -->
            <div class="single_testi">
              <div class="testi_content">
                <p>
                  “Us multiply given in all hath given may meat god won't abundantly appear lights fourth madman man
                  said god dominion great. Gathering called very. Midst shall after created from fruitful. Place sea
                  upon air. Female beast midst fly morning after light creepeth”
                </p>
              </div>
              <div class="testi_author d-flex justify-content-center align-items-center">
                <div class="thumb mr-4"><img src="../../../assets/img/testi-author.png" alt=""></div>
                <div class="a-desc text-left">
                  <h6>Marvel Maison</h6>
                  <p>Chief Executive, Amazon</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ end Testimonial Area =================-->

  <!--================ Start Home Blog Area =================-->
  <section class="home-blog-area">
    <div class="container">
      <div class="row justify-content-center section-title-wrap">
        <div class="col-lg-12">
          <h5>Latest Blog Posts</h5>
          <h2>
            Check the latest posts <br />
            from our blog
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-home-blog">
            <div class="thumb">
              <img class="f-img img-fluid mx-auto" src="../../../assets/img/home-post/blog1.jpg" alt="" />
            </div>
            <div class="home-blog-box">
              <a href="#">
                <h4>Some statistics that we want to show</h4>
              </a>
              <p>
                If you are looking at blank cassettes
                on the web lorem ipsum dolor sit amet consectetur adipisicing.
              </p>
              <div class="bottom d-flex">
                <a href="#">13th Mar, 2019</a>
                <a href="#">02 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-home-blog">
            <div class="thumb">
              <img class="f-img img-fluid mx-auto" src="../../../assets/img/home-post/blog2.jpg" alt="" />
            </div>
            <div class="home-blog-box">
              <a href="#">
                <h4>Some statistics that we want to show</h4>
              </a>
              <p>
                If you are looking at blank cassettes
                on the web lorem ipsum dolor sit amet consectetur adipisicing.
              </p>
              <div class="bottom d-flex">
                <a href="#">13th Mar, 2019</a>
                <a href="#">02 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-sm-block d-none">
          <div class="single-home-blog">
            <div class="thumb">
              <img class="f-img img-fluid mx-auto invisible" src="../../../assets/img/home-post/blog2.jpg" alt="" />
            </div>
            <img src="../../../assets/img/home-post/blog3.jpg" class="img-fluid large-img" alt="">
            <div class="overlay"></div>
            <div class="home-blog-box border-0">
              <a href="#">
                <h4 class="text-white">Some statistics that we want to show</h4>
              </a>
              <p>
                If you are looking at blank cassettes
                on the web lorem ipsum dolor sit amet consectetur adipisicing.
              </p>
              <div class="bottom d-flex">
                <a href="#">13th Mar, 2019</a>
                <a href="#">02 Comments</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ end Home Blog Area =================-->

  <!--================ Start CTA Area ================-->
  <section class="cta_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="cta_inner d-flex flex-md-row flex-column justify-content-between align-items-center">
            <div class="mb-md-0 mb-4 text-sm-left text-center">
              <p>Get a quick response from our team</p>
              <h1>Please feel free to reach us</h1>
            </div>
            <div class="">
              <a href="#" class="main_btn">Explore More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End CTA Area ================-->
